Repository ahmed-n-abdeltwab/tennis-coach-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, API Backend, Web Frontend, Shared Libraries

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
        if_ci_failed: error
        informational: false

    # Per-patch coverage (for PRs)
    patch:
      default:
        target: 80%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Comment settings for PRs - Enhanced for rich reports
comment:
  # Full layout with all available sections
  layout: "header, diff, flags, components, files, footer"
  # Options: reach, diff, flags, files, components, header, footer, newfooter
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  # Show coverage for files changed in the PR
  show_carryforward_flags: true
  # Hide project coverage if unchanged
  hide_project_coverage: false

# Ignore paths
ignore:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/*.e2e-spec.ts"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/migrations/**"
  - "**/*.d.ts"
  - "**/main.ts"
  - "**/*.module.ts"

# Flags for different test types
flags:
  unit:
    paths:
      - apps/api/src/
    carryforward: true

  integration:
    paths:
      - apps/api/src/
    carryforward: true

  e2e:
    paths:
      - apps/api/src/
    carryforward: true

# Component settings (per-app coverage)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%
  individual_components:
    - component_id: api
      name: API Backend
      paths:
        - apps/api/src/**
    - component_id: web
      name: Web Frontend
      paths:
        - apps/web/src/**
    - component_id: libs
      name: Shared Libraries
      paths:
        - libs/**

# GitHub checks
github_checks:
  annotations: true

# Parsers
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

refactor(api): enhance validation and testing infrastructure
  apps/api/jest.integration.config.ts
  apps/api/src/app/calendar/calendar.service.spec.ts
  apps/api/src/app/calendar/calendar.service.ts
  apps/api/src/app/discounts/discounts.controller.spec.ts
  apps/api/src/app/discounts/discounts.controller.ts
  apps/api/src/app/discounts/dto/discount.dto.ts
  apps/api/src/app/prisma/prisma.service.ts
  apps/api/src/app/sessions/dto/session.dto.ts
  apps/api/src/app/time-slots/time-slots.controller.ts
  apps/api/src/common/decorators/is-cuid.decorator.ts
  apps/api/src/common/index.ts
  apps/api/test/integration/booking-system.integration.spec.ts
  apps/api/test/integration/calendar.integration.spec.ts
  apps/api/test/integration/cross-module-interactions.integration.spec.ts
  apps/api/test/integration/discounts.integration.spec.ts
  apps/api/test/integration/event-handling-integration.integration.spec.ts
  apps/api/test/integration/messages.integration.spec.ts
  apps/api/test/integration/middleware-pipeline.integration.spec.ts
  apps/api/test/integration/notifications.integration.spec.ts
  apps/api/test/integration/payments.integration.spec.ts
  apps/api/test/setup.ts
  apps/api/test/setup/integration-env.setup.ts
  apps/api/test/utils/factories/base-factory.ts
  apps/api/test/utils/implementations/integration-test.ts
  apps/api/test/utils/mixins/factory.mixin.ts
  apps/api/test/utils/mocks/index.ts
  apps/api/test/utils/mocks/nodemailer.mock.ts
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

refactor(test): use the real Redis integration and test reporting infrastructure
  apps/api/src/app/redis/redis.service.ts
  apps/api/test/reporters/jest-custom-reporter.js
  apps/api/test/reporters/jest-custom-reporter.ts
  apps/api/test/reporters/test-reporter.js
  apps/api/test/setup/global.setup.ts
  apps/api/test/setup/global.teardown.ts
  apps/api/test/setup/integration-env.setup.ts
  apps/api/test/setup/shared/environment.utils.ts
  apps/api/test/setup/shared/index.ts
  apps/api/test/setup/shared/redis.utils.ts
Due: unit, integration, e2e, API Backend

chore(.prettierignore): exclude generated endpoints file from formatting
  .prettierignore
Due: none

test(sessions,time-slots): add pending bookings limit and slot availability
  apps/api/src/app/sessions/sessions.service.spec.ts
  apps/api/src/app/sessions/sessions.service.ts
  apps/api/src/app/time-slots/time-slots.service.spec.ts
  apps/api/src/app/time-slots/time-slots.service.ts
  apps/api/test/e2e/booking-workflow.e2e.spec.ts
  apps/api/test/e2e/user-registration-auth.e2e.spec.ts
  apps/api/test/infrastructure/database/__tests__/test-database-manager.unit.test.ts
  apps/api/test/integration/accounts.integration.spec.ts
  apps/api/test/integration/booking-system.integration.spec.ts
  apps/api/test/integration/cross-module-interactions.integration.spec.ts
  apps/api/test/integration/discounts.integration.spec.ts
  apps/api/test/integration/event-handling-integration.integration.spec.ts
  apps/api/test/integration/health.integration.spec.ts
  apps/api/test/integration/messages.integration.spec.ts
  apps/api/test/integration/middleware-pipeline.integration.spec.ts
  apps/api/test/integration/notifications.integration.spec.ts
  apps/api/test/integration/payments.integration.spec.ts
  apps/api/test/integration/sessions.integration.spec.ts
Due: unit, integration, e2e, API Backend

test(e2e): implement comprehensive admin workflow tests
  apps/api/test/e2e/admin-workflow.e2e.spec.ts
  apps/api/test/e2e/api-contract-validation.e2e.spec.ts
  apps/api/test/e2e/notification-workflow.e2e.spec.ts
Due: none

test(e2e): change the bookingtype to include the coach
  apps/api/src/app/booking-types/booking-types.service.spec.ts
  apps/api/src/app/booking-types/booking-types.service.ts
  apps/api/src/app/booking-types/dto/booking-type.dto.ts
  apps/api/src/main.ts
  apps/api/test/e2e/cross-workflow.e2e.spec.ts
  apps/api/test/e2e/error-handling.e2e.spec.ts
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

chore: add comprehensive environment configuration and deployment setup
  .env.example
  apps/api/prisma/schema.prisma
  apps/api/src/config/security.config.ts
  apps/api/src/main.ts
  apps/web/index.html
  apps/web/postcss.config.js
  apps/web/src/app/app.css
  apps/web/src/app/services/api.ts
  apps/web/src/config/api.config.ts
  apps/web/vite.config.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  render.yaml
  scripts/migrate-deploy.sh
Due: Web Frontend

chore: migrate deployment infrastructure from Render/K8s to AWS Lightsail
  .env.example
  .github/workflows/ci.yml
  Dockerfile.api
  Dockerfile.web
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
  k8s/secret.template.yaml
  render.yaml
Due: none

chore: clean up database migrations and optimize test configuration
  .husky/pre-commit
  apps/api/jest.e2e.config.ts
  apps/api/jest.unit.config.ts
  apps/api/prisma/migrations/20251028065446_init/migration.sql
  apps/api/prisma/migrations/20251104150151_merge_the_user_and_coach_into_one_table_account/migration.sql
  apps/api/prisma/migrations/20251104151141_init/migration.sql
  apps/api/prisma/migrations/20251110043029_fix_schema/migration.sql
  apps/api/prisma/migrations/20251224175156/migration.sql
  apps/api/prisma/migrations/20260110113359_coach_v1/migration.sql
  apps/api/prisma/migrations/20260110130636_add_notifications/migration.sql
  apps/api/prisma/migrations/20260111203334_new/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/project.json
  apps/api/scripts/generate-types.ts
  apps/api/src/app/app.module.ts
  apps/api/src/main.ts
  apps/api/swagger.json
  apps/api/test/setup.ts
  commitlint.config.js
  eslint.config.mjs
  libs/api-sdk/src/client/api-client.ts
  libs/api-sdk/src/generator/cli.ts
  libs/api-sdk/src/generator/index.ts
  libs/contracts/project.json
  libs/contracts/src/endpoints.generated.ts
  libs/contracts/src/global.ts
  package.json
Due: Shared Libraries

refactor(common): enhance decorators, utilities, and test infrastructure
  apps/api/src/common/decorators/is-cuid.decorator.ts
  apps/api/src/common/decorators/typed-api-responses.decorator.ts
  apps/api/src/common/dto/base-response.dto.ts
  apps/api/src/common/filters/global-exception.filter.ts
  apps/api/src/common/utils/query-optimization.util.ts
  apps/api/src/config/security.config.ts
  apps/api/test/utils/factories/analytics.factory.ts
  apps/api/test/utils/factories/conversation.factory.ts
  apps/api/test/utils/factories/custom-service.factory.ts
  apps/api/test/utils/factories/email.factory.ts
  apps/api/test/utils/factories/index.ts
  apps/api/test/utils/factories/message.factory.ts
  apps/api/test/utils/factories/notification.factory.ts
  apps/api/test/utils/factories/payment.factory.ts
  apps/api/test/utils/implementations/controller-test.ts
  apps/api/test/utils/mixins/database.mixin.ts
  apps/api/test/utils/mixins/factory.mixin.ts
Due: unit, integration, e2e, API Backend

test(e2e,integration): expand test coverage with conversations and custom services workflows
  apps/api/test/e2e/admin-workflow.e2e.spec.ts
  apps/api/test/e2e/api-contract-validation.e2e.spec.ts
  apps/api/test/e2e/conversations-workflow.e2e.spec.ts
  apps/api/test/e2e/cross-workflow.e2e.spec.ts
  apps/api/test/e2e/custom-service-workflow.e2e.spec.ts
  apps/api/test/e2e/error-handling.e2e.spec.ts
  apps/api/test/e2e/role-based-dashboard-workflow.e2e.spec.ts
  apps/api/test/e2e/user-registration-auth.e2e.spec.ts
  apps/api/test/infrastructure/database/batch-cleanup-manager.ts
  apps/api/test/infrastructure/database/test-database-manager.ts
  apps/api/test/integration/accounts.integration.spec.ts
  apps/api/test/integration/analytics.integration.spec.ts
  apps/api/test/integration/conversations.integration.spec.ts
  apps/api/test/integration/custom-services.integration.spec.ts
  apps/api/test/integration/event-handling-integration.integration.spec.ts
  apps/api/test/integration/messages.integration.spec.ts
  apps/api/test/integration/middleware-pipeline.integration.spec.ts
  apps/api/test/integration/sessions.integration.spec.ts
Due: none

docs(api): enhance API documentation with comprehensive examples and descriptions
  apps/api/project.json
  apps/api/src/app/booking-types/dto/booking-type.dto.ts
  apps/api/src/app/calendar/dto/calendar.dto.ts
  apps/api/src/app/health/dto/health.dto.ts
  apps/api/src/app/iam/authentication/authentication.controller.ts
  apps/api/src/app/iam/authentication/authentication.service.ts
  apps/api/src/app/time-slots/dto/time-slot.dto.ts
  apps/api/src/main.ts
  apps/api/test/infrastructure/database/test-database-manager.ts
  apps/api/webpack.config.cjs
  apps/web/src/app/pages/AdminDashboard.tsx
  apps/web/src/app/pages/Book.tsx
  apps/web/src/app/pages/BookingTypes.tsx
  apps/web/src/app/pages/Chat.tsx
  apps/web/src/app/pages/CoachProfile.tsx
  apps/web/src/app/pages/Dashboard.tsx
  apps/web/src/app/pages/Home.tsx
  apps/web/src/app/pages/Login.tsx
  apps/web/src/app/pages/Register.tsx
  package.json
Due: unit, integration, e2e, API Backend, Web Frontend

chore: enhance git hooks robustness and update dependencies
  .husky/commit-msg
  .husky/pre-commit
  apps/api/src/app/messages/messages.service.spec.ts
  apps/api/src/app/sessions/sessions.service.ts
  docs/diagrams/class.puml
  docs/diagrams/component.puml
  package.json
  pnpm-lock.yaml
Due: unit, integration, e2e, API Backend

feat(custom-services): integrate messaging system for custom service sharing
  apps/api/src/app/custom-services/custom-services.module.ts
  apps/api/src/app/custom-services/custom-services.service.spec.ts
  apps/api/src/app/custom-services/custom-services.service.ts
Due: unit, integration, e2e, API Backend

refactor(api): improve query parameter handling and response patterns
  apps/api/src/app/analytics/analytics.controller.ts
  apps/api/src/app/conversations/conversations.controller.spec.ts
  apps/api/src/app/conversations/conversations.service.ts
  apps/api/src/app/conversations/dto/conversation.dto.ts
  apps/api/src/app/custom-services/custom-services.controller.spec.ts
  apps/api/src/app/custom-services/custom-services.service.ts
  apps/api/src/app/custom-services/dto/custom-service.dto.ts
  apps/api/src/app/iam/authentication/authentication.service.ts
  apps/api/src/app/iam/authentication/dto/sign-up.dto.ts
  apps/api/src/app/notifications/mailer/mailer.service.ts
  apps/api/test/e2e/role-based-dashboard-workflow.e2e.spec.ts
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

feat(conversations): enrich last message with sender and receiver account information
  apps/api/src/app/conversations/conversations.service.ts
  apps/api/src/app/conversations/dto/conversation.dto.ts
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

refactor(messages): clarify conversation endpoints and improve route naming
  apps/api/src/app/messages/messages.controller.ts
  libs/contracts/project.json
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

feat(analytics): add real-time metrics endpoint for live dashboard updates
  apps/api/src/app/analytics/analytics.controller.ts
  apps/api/src/app/analytics/analytics.service.ts
  apps/api/src/app/analytics/dto/analytics.dto.ts
  apps/api/test/integration/analytics.integration.spec.ts
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

feat(messages): add booking request functionality through chat
  apps/api/src/app/messages/dto/message.dto.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/messages/messages.service.ts
  apps/api/src/app/notifications/notifications.controller.ts
  apps/api/src/app/notifications/notifications.service.ts
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

feat(web,api): establish comprehensive service layer and enhance custom services
  apps/api/src/app/custom-services/custom-services.module.ts
  apps/api/src/app/custom-services/custom-services.service.spec.ts
  apps/api/src/app/custom-services/custom-services.service.ts
  apps/api/src/app/custom-services/dto/custom-service.dto.ts
  apps/api/src/app/messages/messages.service.ts
  apps/web/src/app/app.tsx
  apps/web/src/app/services/account.service.ts
  apps/web/src/app/services/analytics.service.ts
  apps/web/src/app/services/auth.service.ts
  apps/web/src/app/services/booking.service.ts
  apps/web/src/app/services/conversation.service.ts
  apps/web/src/app/services/custom-service.service.ts
  apps/web/src/app/services/discount.service.ts
  apps/web/src/app/services/error-handler.ts
  apps/web/src/app/services/index.ts
  apps/web/src/app/services/message.service.ts
  apps/web/src/app/services/notification.service.ts
  apps/web/src/app/services/session.service.ts
  apps/web/src/app/services/socket.service.ts
  apps/web/src/app/services/timeslot.service.ts
  apps/web/src/app/services/types.ts
  apps/web/src/config/api-client.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
Due: unit, integration, e2e, API Backend, Web Frontend

feat(monitoring): enhance APM service with telemetry provider abstraction
  apps/api/src/app/monitoring/apm.module.ts
  apps/api/src/app/monitoring/apm/apm.service.spec.ts
  apps/api/src/app/monitoring/apm/apm.service.ts
  apps/api/src/app/monitoring/apm/interfaces/telemetry.interface.ts
  apps/api/src/app/monitoring/apm/providers/telemetry.provider.ts
  apps/api/src/app/monitoring/interceptors/apm.interceptor.ts
  apps/api/src/app/monitoring/monitoring.controller.spec.ts
  apps/api/src/app/prisma/prisma.service.ts
  apps/api/test/infrastructure/database/batch-cleanup-manager.ts
  apps/web/project.json
  apps/web/src/test-setup.ts
  apps/web/vite.config.ts
  package.json
Due: unit, integration, e2e, API Backend, Web Frontend

test(monitoring): add custom attributes test for APM tracing operation
  apps/api/src/app/monitoring/apm/apm.service.spec.ts
  package.json
  pnpm-lock.yaml
Due: none

refactor(web): improve null coalescing and fix test parameter handling
  apps/web/e2e/example.e2e.ts
  apps/web/src/app/components/Account/ImageUploader.tsx
  apps/web/src/app/components/Chat/PinnedConversations.tsx
  apps/web/src/app/components/Coach/HomeContentEditor.tsx
  apps/web/src/app/components/Dashboard/RevenueChart.tsx
  apps/web/src/app/services/conversation.service.ts
Due: Web Frontend

refactor(web): consolidate service imports and improve error handling
  apps/web/src/app/components/Account/ImageUploader.tsx
  apps/web/src/app/components/Account/MissingInfoCollector.tsx
  apps/web/src/app/components/Account/PasswordChanger.tsx
  apps/web/src/app/components/Account/ProfileEditor.tsx
  apps/web/src/app/components/Booking/DiscountInput.tsx
  apps/web/src/app/components/Chat/CustomServiceMessage.tsx
  apps/web/src/app/components/Chat/PinnedConversations.tsx
  apps/web/src/app/components/Coach/HomeContentEditor.tsx
Due: Web Frontend

refactor(web): simplify vite chunk splitting configuration
  apps/web/vite.config.ts
Due: none
