Repository ahmed-n-abdeltwab/tennis-coach-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, API Backend, Web Frontend, Shared Libraries

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
        if_ci_failed: error
        informational: false

    # Per-patch coverage (for PRs)
    patch:
      default:
        target: 80%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Comment settings for PRs - Enhanced for rich reports
comment:
  # Full layout with all available sections
  layout: "header, diff, flags, components, files, footer"
  # Options: reach, diff, flags, files, components, header, footer, newfooter
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  # Show coverage for files changed in the PR
  show_carryforward_flags: true
  # Hide project coverage if unchanged
  hide_project_coverage: false

# Ignore paths
ignore:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/*.e2e-spec.ts"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/migrations/**"
  - "**/*.d.ts"
  - "**/main.ts"
  - "**/*.module.ts"

# Flags for different test types
flags:
  unit:
    paths:
      - apps/api/src/
    carryforward: true

  integration:
    paths:
      - apps/api/src/
    carryforward: true

  e2e:
    paths:
      - apps/api/src/
    carryforward: true

# Component settings (per-app coverage)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%
  individual_components:
    - component_id: api
      name: API Backend
      paths:
        - apps/api/src/**
    - component_id: web
      name: Web Frontend
      paths:
        - apps/web/src/**
    - component_id: libs
      name: Shared Libraries
      paths:
        - libs/**

# GitHub checks
github_checks:
  annotations: true

# Parsers
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

refactor(test): consolidate factory pattern across test utilities
  apps/api/src/app/accounts/accounts.service.spec.ts
  apps/api/test/utils/factories/base-factory.ts
  apps/api/test/utils/factories/discount.factory.ts
  apps/api/test/utils/factories/index.ts
  apps/api/test/utils/factories/message.factory.ts
  apps/api/test/utils/factories/session.factory.ts
  apps/api/test/utils/implementations/controller-test.ts
  apps/api/test/utils/implementations/service-test.ts
  apps/api/test/utils/mixins/mock.mixin.ts
Due: none

refactor(test): consolidate factory pattern and remove deprecated test utilities
  apps/api/src/app/accounts/accounts.controller.spec.ts
  apps/api/src/app/accounts/accounts.service.spec.ts
  apps/api/src/app/booking-types/booking-types.controller.spec.ts
  apps/api/src/app/booking-types/booking-types.service.spec.ts
  apps/api/src/app/booking-types/booking-types.service.ts
  apps/api/src/app/booking-types/dto/booking-type.dto.ts
  apps/api/test/utils/factories/account.factory.ts
  apps/api/test/utils/factories/base-factory.ts
  apps/api/test/utils/factories/coach.factory.ts
  apps/api/test/utils/factories/index.ts
  apps/api/test/utils/factories/user.factory.ts
  apps/api/test/utils/implementations/controller-test.ts
  apps/api/test/utils/mixins/mock.mixin.ts
Due: unit, integration, e2e, API Backend

refactor(test): omit the password from the account payload
  apps/api/src/app/accounts/accounts.service.spec.ts
  apps/api/src/app/accounts/accounts.service.ts
  apps/api/src/app/accounts/dto/account.dto.ts
  package.json
Due: unit, integration, e2e, API Backend

fix(e2e): use the new approach for creating data
  apps/api/src/app/booking-types/dto/booking-type.dto.ts
  apps/api/test/e2e/admin-workflow.e2e.spec.ts
  apps/api/test/e2e/api-contract-validation.e2e.spec.ts
  apps/api/test/e2e/booking-workflow.e2e.spec.ts
  apps/api/test/e2e/notification-workflow.e2e.spec.ts
  apps/api/test/e2e/user-registration-auth.e2e.spec.ts
  apps/api/test/integration/messages.integration.spec.ts
  apps/api/test/integration/payments.integration.spec.ts
  apps/api/test/utils/implementations/integration-test.ts
  package.json
Due: unit, integration, e2e, API Backend

refactor: leave only one find method and remove the rest for simplicity
  apps/api/src/app/accounts/accounts.service.spec.ts
  apps/api/src/app/accounts/accounts.service.ts
  apps/api/src/app/accounts/dto/account.dto.ts
  apps/api/test/integration/payments.integration.spec.ts
Due: unit, integration, e2e, API Backend

test(units): refactor the bookingType tests to use the factory object and Simplify the bookingType service
  apps/api/src/app/accounts/accounts.service.ts
  apps/api/src/app/booking-types/booking-types.service.spec.ts
  apps/api/src/app/booking-types/booking-types.service.ts
  apps/api/src/app/booking-types/dto/booking-type.dto.ts
  apps/api/test/utils/factories/account.factory.ts
  apps/api/test/utils/factories/booking-type.factory.ts
Due: unit, integration, e2e, API Backend

refactor: improve the code readability and turn off the test for now.
  apps/api/src/app/accounts/accounts.service.spec.ts
  apps/api/src/app/sessions/dto/session.dto.ts
  apps/api/src/app/sessions/sessions.controller.spec.ts
  apps/api/src/app/sessions/sessions.controller.ts
  apps/api/src/app/sessions/sessions.service.spec.ts
  apps/api/src/app/sessions/sessions.service.ts
  apps/api/src/app/time-slots/dto/time-slot.dto.ts
  apps/api/src/app/time-slots/time-slots.controller.spec.ts
  apps/api/src/app/time-slots/time-slots.service.spec.ts
  apps/api/src/app/time-slots/time-slots.service.ts
  apps/api/test/utils/factories/calendar.factory.ts
  apps/api/test/utils/factories/index.ts
  apps/api/test/utils/factories/payment.factory.ts
  apps/api/test/utils/factories/session.factory.ts
  apps/api/test/utils/factories/time-slot.factory.ts
  apps/api/test/utils/mixins/mock.mixin.ts
  apps/api/tsconfig.app.json
  libs/routes-helpers/src/constants/api-routes.registry.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

test: refactoring to use the factory instead
  apps/api/src/app/calendar/calendar.controller.spec.ts
  apps/api/src/app/calendar/calendar.module.ts
  apps/api/src/app/calendar/calendar.service.spec.ts
  apps/api/src/app/calendar/calendar.service.ts
Due: unit, integration, e2e, API Backend

fix: the building failing because we change the session service.
  apps/api/src/app/calendar/calendar.service.spec.ts
  apps/api/src/app/calendar/calendar.service.ts
  apps/api/src/app/messages/messages.controller.spec.ts
  apps/api/src/app/messages/messages.service.spec.ts
  apps/api/src/app/messages/messages.service.ts
  apps/api/src/app/notifications/notifications.controller.spec.ts
  apps/api/src/app/notifications/notifications.controller.ts
  apps/api/src/app/notifications/notifications.service.spec.ts
  apps/api/src/app/notifications/notifications.service.ts
  apps/api/src/app/payments/payments.controller.spec.ts
  apps/api/src/app/payments/payments.controller.ts
  apps/api/src/app/payments/payments.service.spec.ts
  apps/api/src/app/payments/payments.service.ts
  apps/api/src/app/sessions/sessions.service.ts
Due: unit, integration, e2e, API Backend

fix: add the prismaModule inside the imports payments
  apps/api/src/app/payments/payments.module.ts
  apps/api/test/e2e/booking-workflow.e2e.spec.ts
  apps/api/test/e2e/notification-workflow.e2e.spec.ts
  apps/api/test/e2e/user-registration-auth.e2e.spec.ts
  apps/api/test/integration/payments.integration.spec.ts
  apps/api/test/integration/sessions.integration.spec.ts
Due: none

chore: setup development tooling and e2e testing infrastructure
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .testcaferc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  apps/api/jest.all.config.ts
  apps/api/jest.config.ts
  apps/api/project.json
  apps/api/tsconfig.json
  apps/web/e2e/example.e2e.ts
  apps/web/project.json
  apps/web/tsconfig.e2e.json
  apps/web/tsconfig.json
  eslint.config.mjs
  huskyrc.json
  jest.preset.js
  libs/routes-helpers/package.json
  libs/routes-helpers/project.json
  libs/utils/jest.config.ts
  libs/utils/package.json
  libs/utils/project.json
  libs/utils/src/lib/utils.spec.ts
  lintstagedrc.json
  migrations.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: Shared Libraries

refactor(test-utils): enhance factory pattern with comprehensive documentation
  apps/api/test/utils/factories/base-factory.ts
  apps/api/test/utils/implementations/controller-test.ts
  apps/api/test/utils/implementations/e2e-test.ts
  apps/api/test/utils/implementations/gateway-test.ts
  apps/api/test/utils/implementations/integration-test.ts
  apps/api/test/utils/implementations/service-test.ts
  apps/api/test/utils/index.ts
  apps/api/test/utils/mixins/factory.mixin.ts
  apps/api/test/utils/mixins/mock.mixin.ts
Due: none

test(api): refactor controller and service specs to use factory pattern
  apps/api/src/app/accounts/accounts.controller.spec.ts
  apps/api/src/app/accounts/accounts.service.spec.ts
  apps/api/src/app/booking-types/booking-types.controller.spec.ts
  apps/api/src/app/booking-types/booking-types.service.spec.ts
  apps/api/src/app/calendar/calendar.controller.spec.ts
  apps/api/src/app/calendar/calendar.service.spec.ts
Due: none

test(discounts): refactor controller and service specs to use factory pattern
  apps/api/src/app/discounts/discounts.controller.spec.ts
  apps/api/src/app/discounts/discounts.service.spec.ts
  apps/api/src/app/discounts/discounts.service.ts
  apps/api/src/app/discounts/dto/discount.dto.ts
Due: unit, integration, e2e, API Backend

refactor(dto): standardize response DTOs and remove BaseResponseDto inheritance
  apps/api/src/app/accounts/dto/account.dto.ts
  apps/api/src/app/booking-types/dto/booking-type.dto.ts
  apps/api/src/app/calendar/calendar.controller.spec.ts
  apps/api/src/app/calendar/dto/calendar.dto.ts
  apps/api/src/app/discounts/dto/discount.dto.ts
  apps/api/src/app/messages/dto/message.dto.ts
  apps/api/src/app/messages/messages.controller.spec.ts
  apps/api/src/app/messages/messages.gateway.spec.ts
  apps/api/src/app/messages/messages.gateway.ts
  apps/api/src/app/messages/messages.service.spec.ts
  apps/api/src/app/messages/messages.service.ts
  apps/api/src/app/sessions/dto/session.dto.ts
  apps/api/src/app/time-slots/dto/time-slot.dto.ts
  apps/api/src/common/dto/base-response.dto.ts
  apps/api/test/utils/factories/calendar.factory.ts
  apps/api/test/utils/factories/message.factory.ts
Due: unit, integration, e2e, API Backend

test: remove decorative section comments from test and service files
  apps/api/src/app/discounts/discounts.service.spec.ts
  apps/api/src/app/health/health.service.spec.ts
  apps/api/src/app/messages/messages.controller.spec.ts
  apps/api/src/app/messages/messages.service.spec.ts
  apps/api/src/app/messages/messages.service.ts
  apps/api/src/app/sessions/sessions.controller.spec.ts
  apps/api/src/app/sessions/sessions.service.spec.ts
Due: unit, integration, e2e, API Backend

test(time-slots): refactor controller and service specs to use factory pattern
  apps/api/src/app/time-slots/dto/time-slot.dto.ts
  apps/api/src/app/time-slots/time-slots.controller.spec.ts
  apps/api/src/app/time-slots/time-slots.service.spec.ts
Due: unit, integration, e2e, API Backend

feat(notifications): implement mailer service and refactor controller/service specs
  apps/api/src/app/notifications/mailer/index.ts
  apps/api/src/app/notifications/mailer/mailer.service.ts
  apps/api/src/app/notifications/notifications.controller.spec.ts
  apps/api/src/app/notifications/notifications.module.ts
  apps/api/src/app/notifications/notifications.service.spec.ts
  apps/api/src/app/notifications/notifications.service.ts
  apps/api/test/utils/factories/account.factory.ts
  apps/api/test/utils/factories/base-factory.ts
  apps/api/test/utils/factories/booking-type.factory.ts
  apps/api/test/utils/factories/calendar.factory.ts
  apps/api/test/utils/factories/discount.factory.ts
  apps/api/test/utils/factories/message.factory.ts
  apps/api/test/utils/factories/notification.factory.ts
  apps/api/test/utils/factories/payment.factory.ts
  apps/api/test/utils/factories/session.factory.ts
  apps/api/test/utils/factories/time-slot.factory.ts
  apps/api/test/utils/mixins/mock.mixin.ts
Due: unit, integration, e2e, API Backend

refactor: add organizational section comments and internal service methods
  apps/api/src/app/accounts/accounts.service.ts
  apps/api/src/app/booking-types/booking-types.service.ts
  apps/api/src/app/calendar/calendar.module.ts
  apps/api/src/app/calendar/calendar.service.ts
  apps/api/src/app/discounts/discounts.service.ts
  apps/api/src/app/iam/authentication/dto/sign-up.dto.ts
  apps/api/src/app/messages/messages.module.ts
  apps/api/src/app/messages/messages.service.ts
  apps/api/src/app/notifications/mailer/index.ts
  apps/api/src/app/payments/payments.controller.spec.ts
  apps/api/src/app/payments/payments.module.ts
  apps/api/src/app/payments/payments.service.spec.ts
  apps/api/src/app/payments/payments.service.ts
  apps/api/src/app/sessions/sessions.module.ts
  apps/api/src/app/sessions/sessions.service.ts
  apps/api/src/app/time-slots/time-slots.service.ts
  apps/api/test/setup.ts
  apps/api/test/setup/integration-env.setup.ts
  apps/api/test/setup/unit.setup.ts
  apps/api/test/utils/cache/test-entity-cache.ts
  apps/api/test/utils/http/type-safe-http-client.ts
  apps/api/test/utils/implementations/controller-test.ts
  apps/api/test/utils/implementations/e2e-test.ts
  apps/api/test/utils/implementations/gateway-test.ts
  apps/api/test/utils/implementations/integration-test.ts
  apps/api/test/utils/implementations/service-test.ts
  apps/api/test/utils/index.ts
  apps/api/test/utils/mixins/database.mixin.ts
  apps/api/test/utils/mixins/http-methods.mixin.ts
  apps/api/test/utils/mixins/mock.mixin.ts
Due: unit, integration, e2e, API Backend

refactor: remove decorative section comments and fix date type transformations
  apps/api/src/app/accounts/accounts.service.ts
  apps/api/src/app/accounts/dto/account.dto.ts
  apps/api/src/app/booking-types/booking-types.service.ts
  apps/api/src/app/booking-types/dto/booking-type.dto.ts
  apps/api/src/app/calendar/dto/calendar.dto.ts
  apps/api/src/app/discounts/dto/discount.dto.ts
  apps/api/src/app/messages/dto/message.dto.ts
  apps/api/src/app/messages/messages.service.spec.ts
  apps/api/src/app/notifications/notifications.controller.spec.ts
  apps/api/src/app/payments/payments.service.spec.ts
  apps/api/src/app/sessions/dto/session.dto.ts
  apps/api/src/app/sessions/sessions.module.ts
  apps/api/src/app/sessions/sessions.service.spec.ts
  apps/api/src/app/sessions/sessions.service.ts
  apps/api/src/app/time-slots/dto/time-slot.dto.ts
  apps/api/src/app/time-slots/time-slots.service.ts
  apps/api/src/common/dto/base-response.dto.ts
  apps/api/test/utils/factories/account.factory.ts
  apps/api/test/utils/factories/base-factory.ts
  apps/api/test/utils/factories/booking-type.factory.ts
  apps/api/test/utils/factories/calendar.factory.ts
  apps/api/test/utils/factories/discount.factory.ts
  apps/api/test/utils/factories/message.factory.ts
  apps/api/test/utils/factories/notification.factory.ts
  apps/api/test/utils/factories/payment.factory.ts
  apps/api/test/utils/factories/session.factory.ts
  apps/api/test/utils/factories/time-slot.factory.ts
Due: unit, integration, e2e, API Backend

test(messages,sessions): refactor service specs and fix controller async handling
  apps/api/src/app/messages/messages.service.spec.ts
  apps/api/src/app/notifications/notifications.controller.ts
  apps/api/src/app/sessions/sessions.service.spec.ts
Due: unit, integration, e2e, API Backend

ci: disable TestCafe video recording in CI environment
  .github/workflows/ci.yml
Due: none

chore(deps): upgrade qs to 6.14.1
  package.json
  pnpm-lock.yaml
Due: none

chore(test): remove unused redis export from infrastructure index
  apps/api/test/infrastructure/index.ts
Due: none

ci: remove video recording configuration from TestCafe
  .testcaferc.json
Due: none

ci(web): disable source maps in e2e TypeScript configuration
  apps/web/tsconfig.e2e.json
Due: none

chore: update gitignore, refactor logger service, and regenerate API routes
  .gitignore
  apps/api/src/app/logger/app-logger.service.ts
  apps/web/e2e/example.e2e.ts
  libs/routes-helpers/src/constants/api-routes.registry.ts
  package.json
Due: unit, integration, e2e, API Backend, Shared Libraries

refactor: migrate routes generation to api-sdk and introduce contracts library
  .github/workflows/ci.yml
  README.md
  apps/api/jest.e2e.config.ts
  apps/api/jest.integration.config.ts
  apps/api/jest.unit.config.ts
  apps/api/src/common/index.ts
  apps/api/src/main.ts
  apps/api/swagger.json
  apps/api/test/utils/http/type-safe-http-client.ts
  apps/api/test/utils/mixins/http-methods.mixin.ts
  apps/api/tsconfig.json
  apps/api/webpack.config.js
  apps/web/tsconfig.json
  eslint.config.mjs
  libs/api-sdk/jest.config.ts
  libs/api-sdk/package.json
  libs/api-sdk/project.json
  libs/api-sdk/src/constants/api-routes.registry.ts
  libs/api-sdk/src/generator/cli.ts
  libs/api-sdk/src/generator/index.ts
  libs/api-sdk/src/generator/swagger-parser.ts
  libs/api-sdk/src/index.ts
  libs/api-sdk/src/interfaces/IRoutes.ts
  libs/api-sdk/src/lib/generate-routes-from-swagger.ts
  libs/api-sdk/src/utils/routes.util.ts
  libs/api-sdk/src/utils/type-utils.ts
  libs/api-sdk/test/setup.ts
  libs/api-sdk/tsconfig.json
  libs/api-sdk/tsconfig.lib.json
  libs/api-sdk/tsconfig.spec.json
  libs/contracts/project.json
  libs/contracts/src/endpoints.generated.ts
  libs/contracts/src/index.ts
  libs/contracts/tsconfig.json
  libs/contracts/tsconfig.lib.json
  tsconfig.base.json
Due: unit, integration, e2e, API Backend, Shared Libraries

refactor(api): integrate api-sdk testing utilities and contracts library
  apps/api/jest.e2e.config.ts
  apps/api/jest.integration.config.ts
  apps/api/jest.unit.config.ts
  apps/api/project.json
  apps/api/src/app/redis/redis.service.spec.ts
  apps/api/src/common/index.ts
  apps/api/src/main.ts
  apps/api/test/utils/http/index.ts
  apps/api/test/utils/mixins/http-methods.mixin.ts
  apps/api/tsconfig.app.json
  apps/api/webpack.config.js
  libs/api-sdk/src/client/api-client.ts
  libs/api-sdk/src/client/index.ts
  libs/api-sdk/src/http/index.ts
  libs/api-sdk/src/http/type-safe-client.ts
  libs/api-sdk/src/index.ts
  libs/api-sdk/src/testing.ts
  libs/api-sdk/tsconfig.json
  tsconfig.base.json
Due: unit, integration, e2e, API Backend, Shared Libraries

refactor: consolidate jwt utilities into common module and remove utils library
  apps/api/jest.e2e.config.ts
  apps/api/jest.integration.config.ts
  apps/api/jest.unit.config.ts
  apps/api/src/app/iam/authentication/authentication.service.ts
  apps/api/src/app/iam/config/jwt.config.ts
  apps/api/src/common/index.ts
  apps/api/src/common/utils/jwt-time.util.spec.ts
  apps/api/src/common/utils/jwt-time.util.ts
  apps/api/test/utils/mixins/auth.mixin.ts
  apps/api/tsconfig.json
  apps/api/webpack.config.js
  apps/web/tsconfig.json
  libs/utils/jest.config.ts
  libs/utils/package.json
  libs/utils/project.json
  libs/utils/src/index.ts
  libs/utils/tsconfig.json
  libs/utils/tsconfig.lib.json
  libs/utils/tsconfig.spec.json
  tsconfig.base.json
Due: unit, integration, e2e, API Backend, Shared Libraries

refactor(api-sdk): reorganize type utilities and remove deprecated route generation
  apps/api/test/utils/cache/test-entity-cache.ts
  apps/api/test/utils/mixins/http-methods.mixin.ts
  libs/api-sdk/package.json
  libs/api-sdk/project.json
  libs/api-sdk/src/client/api-client.ts
  libs/api-sdk/src/constants/api-routes.registry.ts
  libs/api-sdk/src/http/type-safe-client.ts
  libs/api-sdk/src/index.ts
  libs/api-sdk/src/lib/generate-routes-from-swagger.ts
  libs/api-sdk/src/utils/routes.util.ts
  libs/api-sdk/src/utils/type-utils.ts
  libs/contracts/package.json
  libs/contracts/project.json
  libs/contracts/src/global.ts
  libs/contracts/src/index.ts
  libs/contracts/tsconfig.lib.json
Due: Shared Libraries

refactor(api-sdk): expand type utilities and standardize export formatting
  libs/api-sdk/src/index.ts
  libs/api-sdk/src/utils/type-utils.ts
  pnpm-lock.yaml
Due: Shared Libraries

refactor(api-sdk): enhance type safety with flexible path types
  libs/api-sdk/src/client/api-client.ts
  libs/api-sdk/src/http/type-safe-client.ts
Due: Shared Libraries

refactor(api): migrate test setup to modern E2ETest and IntegrationTest classes
  apps/api/test/setup/e2e.setup.ts
  apps/api/test/setup/global.setup.ts
  apps/api/test/setup/global.teardown.ts
  apps/api/test/setup/integration.setup.ts
  apps/api/test/setup/shared/environment.utils.ts
  apps/api/test/setup/shared/index.ts
  apps/api/test/utils/http/index.ts
  apps/api/test/utils/index.ts
Due: none

refactor(api): standardize factory method naming conventions
  apps/api/src/app/accounts/accounts.controller.spec.ts
  apps/api/src/app/accounts/accounts.service.spec.ts
  apps/api/test/infrastructure/database/batch-cleanup-manager.ts
  apps/api/test/infrastructure/database/test-database-manager.ts
  apps/api/test/infrastructure/performance/test-performance-monitor.ts
  apps/api/test/utils/cache/test-entity-cache.ts
  apps/api/test/utils/constants/test-constants.ts
  apps/api/test/utils/core/base-test.ts
  apps/api/test/utils/factories/account.factory.ts
  apps/api/test/utils/factories/auth.factory.ts
  apps/api/test/utils/factories/base-factory.ts
  apps/api/test/utils/factories/booking-type.factory.ts
  apps/api/test/utils/factories/calendar.factory.ts
  apps/api/test/utils/factories/discount.factory.ts
  apps/api/test/utils/factories/index.ts
  apps/api/test/utils/factories/message.factory.ts
  apps/api/test/utils/factories/notification.factory.ts
  apps/api/test/utils/factories/payment.factory.ts
  apps/api/test/utils/factories/session.factory.ts
  apps/api/test/utils/factories/time-slot.factory.ts
  apps/api/test/utils/index.ts
  apps/api/test/utils/mixins/auth.mixin.ts
  apps/api/test/utils/mixins/database.mixin.ts
  apps/api/test/utils/mixins/factory.mixin.ts
Due: none

refactor(api): remove deprecated bulk operations and base utilities
  apps/api/src/common/controllers/base.controller.ts
  apps/api/src/common/decorators/authenticated-controller.decorator.ts
  apps/api/src/common/decorators/typed-api-responses.decorator.ts
  apps/api/src/common/dto/base-response.dto.ts
  apps/api/src/common/index.ts
  apps/api/src/common/services/base.service.ts
  apps/api/src/common/utils/pagination.helper.ts
Due: unit, integration, e2e, API Backend

feat(api): add automated endpoint type generation from Swagger documentation
  apps/api/project.json
  apps/api/scripts/generate-types.ts
  apps/api/src/app/health/dto/health.dto.ts
  apps/api/src/main.ts
  apps/api/tsconfig.app.json
  libs/contracts/src/endpoints.generated.ts
Due: unit, integration, e2e, API Backend, Shared Libraries

test(api): implement health endpoint integration tests
  apps/api/test/integration/health.integration.spec.ts
  libs/contracts/src/endpoints.generated.ts
  package.json
  pnpm-lock.yaml
Due: Shared Libraries

test(api): add role-based access control and resource ownership tests
  .husky/pre-commit
  apps/api/test/integration/accounts.integration.spec.ts
  apps/api/test/integration/sessions.integration.spec.ts
Due: none
